@model WeBankApplication.Models.ACCOUNT_HOLDER_DETAILS

@{
    ViewBag.Title = "Create";
}

<body style="background-color:lightblue">





@using (Html.BeginForm(null,null,FormMethod.Post,new {id="idMyForm"})) 
{
    @Html.AntiForgeryToken()

    <br />

    <br />
    
    <center>

        <div class="w3-container">
        <h1 > <b> Welcome 
             <b style="color:palevioletred">@HttpContext.Current.User.Identity.Name</b></b></h1>
        <p> </p>
    </div>
    </center>
    

    <div class="form-horizontal">
        <h4>ACCOUNT HOLDER DETAILS:</h4>
        <hr />


        <br />

        
    
<p>
    @Html.ActionLink("Create New", "Create")
</p>
          @*<div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <label style="color:green">@ViewBag.Message</label>
            </div>
              </div>*@


     @if (TempData["SuccessMessage"] != null)
    {
        <div class="alert alert-success">@TempData["SuccessMessage"]</div>
    }


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.account_number, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.account_number, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.account_number, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fullname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fullname, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fullname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fathername, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fathername, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fathername, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Adharno, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Adharno, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Adharno, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DOB, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DOB, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Age, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Age, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.accounttype, htmlAttributes: new { @class = "control-label col-md-2" })

             <div class="col-md-10">
                    @Html.DropDownList("AccountType", new SelectList(new List<string>
               {
                   "Savings",
                   "Current",
               }), new { @class = "form-control" })
               </div>
            
            @*<div class="col-md-10">
                @Html.EditorFor(model => model.accounttype, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.accounttype, "", new { @class = "text-danger" })
            </div>*@
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Branch, htmlAttributes: new { @class = "control-label col-md-2" })
            @*<div class="col-md-10">
            @Html.EditorFor(model => model.Branch, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Branch, "", new { @class = "text-danger" })
        </div>*@

            <div class="col-md-10">
                @Html.DropDownList("Branch", new SelectList(new List<string>
           {
               "Sipcot IT Park Siruseri Branch Chennai ",
               "Sholinganallur Branch  Chennai ",
           }), new { @class = "form-control" })
            </div>

        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Registration_Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Registration_Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Registration_Date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Phoneno, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Phoneno, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phoneno, "", new { @class = "text-danger" })
            </div>
        </div>

        @*<div class="form-group">
            @Html.LabelFor(model => model.CusID, "CusID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CusID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CusID, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @*<input type="button" value="My Button" class="btn btn-default" id="idMyBtn" />*@
                <input onclick="myFunction()" type="submit" value="Register" class="btn btn-default" id="idMyBtn"  />
                <input type="reset" value="Reset" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

   <script>

       <script>

    function myFunction() {
        alert("Do you want to Opening Account in WeBank ?");
    }
       

    @*$(document).ready(function () {

        $('#idMyBtn').on('click',
            function (event) {
                $('#idMyBtn').prop('disabled', true);
                $('#idMyForm').submit();
        });
    });*@

</script>

</body>
