@model IEnumerable<WeBankApplication.Models.User_Register>


@*@{
    var password = ConfigurationManager.AppSettings["Password"];*@


<body style="background-color:lightblue">


    @{
        ViewBag.Title = "Index";
    }

    <h2>USER REGISTER DETAILS:</h2>

    <br />

    @using (Html.BeginForm(FormMethod.Get))
    {
        @Html.TextBox("Searching")
        <input type="submit" value="search" />

    }


   

<br />


    <br />


    <br />



    @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Passcode)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    *********
                </td>
                <!--<td>
                    @Html.DisplayFor(modelItem => item.Passcode)-->
                    @*@Html.PasswordFor(model => model.Passcode)*@
                <!--</td>-->
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Username }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Username }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Username })
                </td>
            </tr>
        }

    </table>
</body>